
<div class="tweet-show">
  <div class="comment">
  <div class="user-profile">
    <% if @tweet.user.image.attached? %>
      <%= image_tag @tweet.user.image, size: '50x50' %>
    <% end %>
    <%= @tweet.user.profile %>
  </div>
  <p><%= @tweet.body %></p>
</div>

<div class="tweet-show-images">
  <% if @tweet.images.attached? %>
    <% @tweet.images.each do |img| %>
      <%= image_tag img, class: "show-image" %>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= button_to group_tweet_likes_path(@group, @tweet), method: :post do %>
    <i class="fas fa-heart" style="color: red;"></i> <%= @tweet.likes.count %>
  <% end %>
<% else %>
  <i class="fas fa-heart" style="color: red;"></i> <%= @tweet.likes.count %>
<% end %>

  <p><%= @tweet.created_at.strftime("%Y-%m-%d") %></p>
  <%= button_to "編集する", edit_group_tweet_path(@group, @tweet) %>
  <%= button_to "削除する", group_tweet_path(@group, @tweet),
      method: :delete,
      data: { confirm: "本当に削除しますか？" } %>
</div>
<div class="comment-wrapper">
  <p>コメント一覧</p>

  <% @comments.each do |c| %>
    <% mine = (c.user == current_user) %>

    <div class="comment-bubble <%= mine ? "mine" : "theirs" %>">
      <div class="comment-icon">
        <% if c.user.image.attached? %>
          <%= image_tag c.user.image, size: '40x40' %>
        <% else %>
          <div class="icon-placeholder"></div>
        <% end %>
      </div>

      <div class="comment-body">
        <div class="comment-name"><%= c.user.profile %></div>
        <div class="comment-text"><%= c.content %></div>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <% @comment ||= Comment.new %>

    <div class="comment-form">
      <%= form_with(model: [@group, @tweet, @comment], local: true) do |f| %>
        <%= f.text_area :content, class: "comment-input" %>
        <%= button_tag type: "submit", class: "simple-button" do %>
          コメントする
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Tweet一覧に戻る", group_path(@group) %>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".mySwiper", {
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  });
</script>