<div class=group-new-header>
      <h1><%= link_to "@Terrace", hello_index_path %></h1>
      <div class="header-list">
      <ul>
        <li><nav><a href="#second-block">@Terraceとは</a></nav></li>
        <li><nav><a href="#third-block">@Terraceの機能</a></nav></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "はじめる", new_user_registration_path %></li>
      </ul>
      </div>
</div>

<div class="group-new-container">
  <div class="group-new-card">
    <h2>新規グループを作成</h2>
  </div>
  <%= form_with(model: @group, local: true) do |f| %>
    <div class="group-new-form">
      <div class="group-new-form-name">
        <%= f.label :name, 'グループ名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit '新規作成', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


