<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Feelplus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b3accdc2a2.js" crossorigin="anonymous"></script> 

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

  <!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>
<body>
<%= yield %>
</body>
</html>

<script>
  document.addEventListener("turbo:load", () => {
    const detailsElements = document.querySelectorAll(".dropdown details");

    // 外をクリックしたkonら全部閉じる
    document.addEventListener("click", (e) => {
      detailsElements.forEach((details) => {
        if (!details.contains(e.target)) {
          details.removeAttribute("open");
        }
      });
    });

    // summary をクリックしたときは他を閉じる
    detailsElements.forEach((details) => {
      const summary = details.querySelector("summary");
      summary.addEventListener("click", (e) => {
        detailsElements.forEach((d) => {
          if (d !== details) d.removeAttribute("open");
        });
      });
    });
  });

  document.addEventListener("turbo:load", () => {
  const hamburger = document.querySelector(".hamburger");
  const sidebar = document.querySelector(".sidebar");

  if (!hamburger || !sidebar) return;

  hamburger.addEventListener("click", () => {
    sidebar.classList.toggle("is-open");
  });
});
</script>
